.form-login{
    position: relative;
    border: 1px solid grey;
    top: 100px;
    left: 300px;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5); /* Параметры тени */
}
#email{
    position:absolute;
    top: 150px;
    width: 300px;
    left: 150px;
    height: 25px;
    outline:none;/*убрать рамку во круг поля*/
    text-align: center;
    border-radius: 5px;
}
#password{
    position:absolute;
    top: 200px;
    width: 300px;
    left: 150px;
    height: 25px;
    outline:none;/*убрать рамку во круг поля*/
    text-align: center;
    border-radius: 5px;
}
#btn{
    position:absolute;
    top:250px;
    width: 150px;
    left: 220px;
    height: 25px;
    outline:none;/*убрать рамку во круг поля*/
    text-align: center;
    border-radius: 5px;
}
#register{
    position: absolute;
    right: 40px;
    bottom: 30px;
    padding: 2px;
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
#Forgotlink{
    position:absolute;
    left: 40px;
    bottom: 30px;
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}